:root {
    --dark-blue: #290909;
    --light-blue: #c00a0a;
    --white: #fcfcfc;




}

body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    align-items: center;
    display: flex;
    justify-content: center;

}


form {
    opacity: 0.5;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

.login {
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    width: 200px;
    height: 40px;
    border: 0px solid black;
    border-radius: 10px;
}

.password {
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
    margin: 12px;
    width: 200px;
    height: 40px;
    border: 0px solid black;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

button {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 20px;
    border: 0px solid black;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
button::after {
    background:white;
    content: '';
    height: 80px;
    left: -20px;
    position: absolute;
    top: 0px;
    transform: skewX(15deg);
    width: 20px;
}

button:hover::after {
    transform: translateX(135px) skewX(15deg);
    transition: transform 1s linear;
}

.ball1 {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50;
    transform:
        translateY(-50%);
    animation: moveBall1 9s infinite linear;
}

@keyframes moveBall1 {
    0% {
        left: -500px;
    }

    100% {
        left: 100vw;
    }
}

.ball2 {
    left: 4%;
    width: 350px;
    height: 350px;
    background: linear-gradient(to right top, var(--dark-blue), var(--light-blue));
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50;
    transform:
        translateY(-50%);
    animation: moveBall2 18s infinite linear
}

@keyframes moveBall2 {
    0% {
        top: -500px;
    }

    100% {
        top: 100vw;
    }
}

input::placeholder {
    color: white;
    
}

input:focus::placeholder {
    transition: transform 0.3s linear,  opacity 0.3s linear;
opacity: 0;
    transform: translateX(50px);
}
.line {

    border-radius: 90%;
    width: 80%;
    height: 3px;
    background: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.foto {
    width: 75px;
    height: 75px;
}
